.loader-page {
  background: white;
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  animation: end-loader 1s 3s forwards;
}
.loader-page i {
  position: absolute;
  font-size: 80px;
  color: white;
  animation: size-colors 2.5s cubic-bezier(0, 0, 0.65, 1.04) infinite;
}
.loader-page .p1,
.loader-page .p2 {
  position: absolute;
  font-family: "Shrikhand";
  font-size: x-large;
}
.loader-page .p1 {
  top: 10%;
}
.loader-page .p2 {
  bottom: 10%;
}

.loader {
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  animation: rotation 2.5s ease infinite;
}
.loader .circle-1 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--primary);
  position: absolute;
  top: 30px;
  right: -105px;
  animation: circle-slide-1 2.5s ease infinite;
}
.loader .circle-2 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--second);
  position: absolute;
  left: -105px;
  top: 30px;
  animation: circle-slide-2 2.5s ease infinite;
}
.loader .circle-3 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: var(--tert);
  position: absolute;
  top: -120px;
  animation: circle-slide-3 2.5s ease infinite;
}

@keyframes circle-slide-1 {
  50% {
    top: -20px;
    right: -20px;
  }
}
@keyframes circle-slide-2 {
  50% {
    top: -20px;
    left: -20px;
  }
}
@keyframes circle-slide-3 {
  50% {
    top: -20px;
    left: -20px;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes size-colors {
  50% {
    font-size: 30px;
    color: white;
  }
  65% {
    color: var(--primary);
  }
  80% {
    color: var(--second);
  }
  99% {
    color: var(--tert);
    font-size: 80px;
  }
  100% {
    font-size: 30px;
  }
}
@keyframes end-loader {
  to {
    scale: 0;
  }
}
header {
  position: relative;
  width: 100%;
}
header i {
  color: var(--dark-grey);
}

.logo {
  position: relative;
  background-color: var(--bg-white);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

h1 {
  font-family: "shrikhand", serif;
  font-size: 30px;
  margin: 0;
  padding: 8px 0 2px 0;
  text-align: center;
}
@media screen and (min-width: 1040px) {
  h1 {
    padding: 20px 0;
  }
}

header .location {
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
header .location h2 {
  color: var(--dark-grey);
  font-size: 16px;
}

#home-header {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

#restau-header i {
  position: absolute;
  left: 2rem;
  top: 35%;
  font-size: 25px;
}

footer {
  background-color: var(--dark-grey);
  color: var(--button-text);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
footer a {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  height: 1rem;
}
footer h5 {
  font-family: "shrikhand", serif;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 1rem 0;
}
footer i {
  width: 12px;
}
footer i.fa-handshake-angle {
  font-size: 0.9rem;
}
@media screen and (min-width: 1040px) {
  footer {
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    gap: 2.5rem;
    padding: 4rem 4rem 1rem;
  }
  footer h5 {
    order: 1;
  }
}

.foot-icontext {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.foot-icontext p {
  font-weight: 500;
}

.foot-links-1,
.foot-links-2 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media screen and (min-width: 1040px) {
  .foot-links-1,
  .foot-links-2 {
    flex-direction: row;
  }
}

.reservation {
  background: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 40px 0;
}
.reservation h3 {
  max-width: 50%;
  margin: 0;
}
.reservation p {
  max-width: 70%;
  font-size: 16px;
  font-weight: 300;
  color: var(--dark-grey);
  margin: 10px 0 30px 0;
}
.reservation .btn {
  margin-bottom: 15px;
  text-decoration: none;
}

.functioning {
  padding: 20px 20px 60px 20px;
}

.funct-strip {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 25px;
}
@media screen and (min-width: 767px) and (max-width: 1040px) {
  .funct-strip {
    align-items: center;
  }
}
@media screen and (min-width: 1040px) {
  .funct-strip {
    flex-direction: row;
  }
}
.funct-strip i {
  color: var(--icon-grey);
  font-size: 1.4rem;
  position: absolute;
  left: 2.1rem;
  bottom: 1.5rem;
}

.funct-number {
  background: var(--primary);
  color: var(--button-text);
  border-radius: 50%;
  height: 19px;
  width: 19px;
  padding: 0.2rem;
  text-align: center;
  position: absolute;
  left: -0.7rem;
  bottom: 0.3rem;
}

.funct-global {
  position: relative;
  max-width: 700px;
  width: 100%;
}
.funct-global.fa-store {
  color: var(--primary);
}

.funct-text {
  background: var(--main-bg-color);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 1.5rem 1rem 1.5rem 5rem;
  border-radius: 1rem;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.restaurants-choice {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.restaurants-list {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 1.5rem;
}
@media screen and (min-width: 767px) {
  .restaurants-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.restaurants-list a {
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 767px) {
  .restaurants-list a {
    width: 48%;
  }
}

.restaurants-cards {
  position: relative;
  height: 251px;
  background-color: var(--bg-white);
  border-radius: 15px;
}
.restaurants-cards .badge-new {
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  color: var(--green-font);
  background: var(--tert);
  top: 1rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2px;
}
.restaurants-cards img {
  height: 67%;
  width: 100%;
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants-cards-content {
  height: 33%;
  width: 100%;
  position: relative;
}
.restaurants-cards-content h4 {
  font-size: 18px;
  font-weight: 700;
  margin: 1rem 0 0 1rem;
}
.restaurants-cards-content p {
  font-size: 17px;
  font-weight: 300;
  margin: 0 0 1rem 0;
  padding: 0.5rem 0 0rem 1rem;
}
.restaurants-cards-content i {
  font-size: 2rem;
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
}
.restaurants-cards-content .fa-solid {
  color: transparent;
  background-image: var(--button-gradient);
  -webkit-background-clip: text;
          background-clip: text;
  transition: 500ms;
  opacity: 0;
}
.restaurants-cards-content .fa-solid:hover {
  opacity: 1;
}

.btn {
  color: var(--button-text);
  background: var(--button-gradient);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 16px;
  font-weight: 500;
  transition: 500ms;
}

.btn:hover {
  opacity: 0.8;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.4);
}

* {
  font-family: "roboto", sans-serif;
}

.restau-img {
  width: 100%;
  position: relative;
  z-index: 1;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.restau-menu {
  background-color: var(--main-bg-color);
  border-radius: 2rem 2rem 0 0;
  position: relative;
  margin-top: -5rem;
  z-index: 2;
  padding-top: 1rem;
  max-width: 1055px;
  margin-inline: auto;
}

.restau-name {
  position: relative;
  padding: 0 17px;
  max-width: 604px;
  margin-inline: auto;
}
.restau-name h2 {
  font-family: "shrikhand", serif;
  font-size: 28px;
  padding-right: 40px;
}
@media screen and (min-width: 767px) {
  .restau-name h2 {
    display: flex;
    justify-content: center;
  }
}
.restau-name i {
  font-size: 1.5rem;
  position: absolute;
  right: 1.5rem;
  top: 0.55rem;
}
@media screen and (min-width: 767px) {
  .restau-name i {
    right: 10.5rem;
  }
}
.restau-name .fa-solid {
  color: transparent;
  background-image: var(--button-gradient);
  -webkit-background-clip: text;
          background-clip: text;
  transition: 500ms;
  opacity: 0;
}
.restau-name .fa-solid:hover {
  opacity: 1;
}

.menu-components {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 604px;
  margin-inline: auto;
}
.menu-components h3 {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 0;
}
.menu-components hr {
  margin: 3px 0 15px 0;
  border-style: solid;
  border-width: 2px;
  color: var(--tert);
  width: 35px;
}

.dishes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dish {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-white);
  border-radius: 1rem;
  padding: 15px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  overflow: hidden;
}
.dish:hover .price-checkbox {
  transform: translateX(-65px);
}
.dish:hover .dish-text {
  width: calc(100% - 90px);
}

.dish-text {
  text-wrap: nowrap;
  overflow: hidden;
  transition: width 400ms;
  width: calc(100% - 30px);
}
.dish-text h4 {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}
.dish-text p {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
}
.dish-text h4,
.dish-text p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.price-checkbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: -80px;
  transition: transform 400ms;
}
.price-checkbox p {
  margin: 0;
  padding-top: 1.3rem;
  font-weight: 700;
  font-size: 15px;
}
.price-checkbox .check-box {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: var(--tert);
  width: 4rem;
  height: calc(100% + 30px);
}
.price-checkbox i {
  color: var(--tert);
  background-color: var(--bg-white);
  border-radius: 50%;
  font-size: 1.5rem;
}

.appear-slide-1 {
  animation: appear-slide 500ms 300ms ease-in-out backwards;
}

.appear-slide-2 {
  animation: appear-slide 500ms 400ms ease-in-out backwards;
}

.appear-slide-3 {
  animation: appear-slide 500ms 500ms ease-in-out backwards;
}

.appear-slide-4 {
  animation: appear-slide 500ms 600ms ease-in-out backwards;
}

@keyframes appear-slide {
  from {
    transform: translateY(2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0rem);
    opacity: 1;
  }
}
.commander {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.commander p {
  width: 186px;
  text-align: center;
}

:root {
  --bg-white: white;
  --main-bg-color: #f6f6f6;
  --light-grey: #eaeaea;
  --dark-grey: #353535;
  --icon-grey: #7e7e7e;
  --primary: #9356dc;
  --second: #ff79da;
  --tert: #99e2d0;
  --green-font: #008766;
  --button-gradient: linear-gradient(
    193deg,
    var(--primary) -11.44%,
    var(--second) 123.93%
  );
  --button-text: white;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
}

#home-main h3 {
  font-size: 24px;
}

.margin-desktop {
  max-width: 1080px;
  margin-inline: auto;
  width: 100%;
}/*# sourceMappingURL=style.css.map */