@use "./layout/_header";
@use "./layout/_footer";
@use "./layout/_homereservation";
@use "./layout/_homefunctioning";
@use "./layout/_homerestaurantslist";
@use "./components/buttons";
@use "./base/typography";
@use "./layout/restau-img";
@use "./layout/restau-menu";
@import "./utils/_variables";
@import "./utils/mixins";
@import "./utils/mediaq";


// general

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
}

#home-main h3 {
    font-size: 24px;
}

.margin-desktop {
    max-width: 1080px;
    margin-inline: auto;
    width: 100%;
}
