@use "./layout/_header";
@use "./layout/_footer";
@use "./layout/_homereservation";
@use "./layout/_homefunctioning";
@use "./layout/_homerestaurantslist";
@use "./components/buttons";
@use "./base/typography";
@import "./utils/_variables";
@import "./utils/mixins";
@import "./utils/mediaq";


// general

body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.main-container {
    max-width: 1440px;
    width: 100%;
}

.main-container h3 {
    font-size: 24px;
}
