@import "../utils/mixins";

.btn {
  color: var(--button-text);
  background: var(--button-gradient);
  @include box-shadow;
  border: none;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 16px;
  font-weight: 500;
  transition: 500ms;
}

.btn:hover {
  @include box-shadow-hover;
}
